/**
* @Author Miss.Yin
* @Date 2020-04-10
 */
*{font-size: 12px;padding: 0px;margin: 0px;list-style: none;text-decoration: none;}
body{max-width: 640px;width:100%;overflow:hidden;}
.ctn{margin: 0 auto;}
.box1{position: fixed;width: 100%;height:50px;left: 0px;bottom: 10px;display: flex;border-top:2px solid #bbbbbb;overflow: hidden;}
.box1 .gd{flex: 0 0 60px;}
.box1 .kf{border-left: 1px solid #bbbbbb;border-right: 1px solid #bbbbbb;;}
.box1 .lh{flex-grow: 1;padding-right: 10px;}
.box1 .lh a{color:#fff;display: inline-block;width: 100%;height:30px;line-height:30px;font-weight: bold;font-size: 13px;}
.box1 .lh .gwc{display:inline-block;width:50%;background: #f58209;margin-right: -5px;border-radius: 15px 0px 0px 15px;}
.box1 .lh .ljgm{display:inline-block;width:50%;background: red;border-radius: 0px 15px 15px 0px;}
.box1 li{width: 50px;text-align: center;padding-top: 10px; }
.box1 .gd a{display: inline-block;width: 100%;height: 100%;color: #636363;}
.xhbj{background: #000000ab;width: 100%;height: 100%;position: fixed;left: 0px;top: 0px;display: none;}
.show{display: block;}
.show .box2{transform: translateY(0px);}
.box2{position: fixed;left: 0px;bottom: 0px;padding: 10px;background: #fff;width: 100%;box-sizing: border-box;transform: translateY(100%);transition: transform 0.5s ease-out 0s;}
.sh{display: flex;border-bottom: 1px solid #dadada;padding-bottom: 10px;}
.fm{flex:0 0 100px;height: 100px;margin-top: -20px;}
.fm a{display:block;width: 100%;height: 100%;}
.fm a img{display: block;width: 100px;height:100px;border-radius: 5px;border: 1px solid #fff;}
.heyong{flex-grow:1;overflow: hidden;padding-left: 10px;padding-right: 30px;}
.heyong span{display:block;height:22px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.heyong .closebtn{border: 1px solid #636363;font-size: 15px;padding: 0px 5px;border-radius: 100%;position: absolute;right: 10px;top:10px;}
.heyong p{color: red;font-size: 13px;height: 22px;line-height: 22px;}
.ys p{margin-top: 30px;font-size: 13px;font-weight: bold;}
.ys ul{border-bottom: 1px solid #dadada;padding-bottom: 10px;}
.ys ul::after{display: block;content: " ";clear: both;}
.ys ul .none{background: #dedede;}
.ys ul li{float: left;width: 50px;height:20px;margin-right: 10px;margin-top: 10px;line-height:20px;color: black;text-align: center;border: 1px solid  #bbbbbb;box-sizing: border-box;}
.ys ul .on{background: #ff0000;color: #fff;}
.xz{height: 50px;line-height: 50px;padding-top: 10px;}
.xz::after{display: block;content: " ";clear: both;}
.xz .nr{float:left;height: 50px;}
.xz .nr p{height: 15px;line-height: 15px;}
.xz .nr .nr1{font-weight: bold;font-size: 13px;}
.xz .nr .nr2{color: #636363;}
.xz ul{float:right;width:110px;height: 50px;}
.xz ul .jh{background: #eaeaea;}
.xz ul .sz{border-left: none;border-right: none;}
.xz ul li{float:left;width: 30px;height: 20px;line-height:20px;text-align:center;border: 1px solid #dadada;}
.xz ul li a{display: inline-block;width: 100%;height: 100%;}
.anniu{height: 20px;}
.anniu a{display:block;width: 100%;height: 100%;background: red;color: #fff;border-radius: 10px;text-align: center;}
