/**
* @Author Miss.Yin
* @Date 2020-04-10
 */
*{font-size: 12px;padding: 0px;margin: 0px;list-style: none;text-decoration: none;}
.ctn{width: 640px;margin: 0 auto;}
.box1{position: fixed;left: 0px;bottom: 0px;}