/**
* @Author Miss.Yin
* @Date 2020-04-14
 */
*{font-size: 12px;padding: 0px;margin: 0px;list-style: none;text-decoration: none;}
body{max-width: 640px;width:100%;overflow:hidden;}
.ctn{margin: 0 auto;background: #dadada;}
.home img{width: 100%;}
.box1{display: flex;height: 30px;}
.box1 li{flex-grow: 1;height: 25px;text-align: center;line-height: 25px;}
.box1 li .zpbz{display:inline-block;width:25px;height:25px;background: url("./img/xtb.jpg") no-repeat;background-size: 20px;}
.box1 li span{display: inline-block;height: 25px;line-height: 25px;}