/**
* @Author Miss.Yin
* @Date 2020-04-06
 */
*{font-size: 12px;padding: 0px;margin: 0px;list-style: none;text-decoration: none;}
.ctn{padding:10px 20px;}
.box1{border: 1px solid #eee;color: #bebebe;height: 30px;line-height: 30px;padding: 0px 8px;display: flex;box-sizing:border-box;border-radius: 3px;}
.box1 i{display: block;line-height: 28px;flex-grow: 0;flex-basis: 18px;}
.box1 input{border: 0px;outline: none;flex-grow: 1;font-weight: bold;}
.box1 input::-webkit-input-placeholder{color: #bebebe;}
.ul1{display: flex;margin: 20px 0px 10px;border-bottom: 1px solid #eee;padding-bottom: 8px;}
.ul1 .icone1 em{font-style: normal;color: #f00;display: inline-block;transform: translateY(-5px);}
.ul1 .icone1{flex-grow: 0;flex-basis: 40px;}
.ul1 .icone1 a{color: #636363;display: block;width: 100%;height: 100%;}
.ul1 .icone1 a:focus{color: #000;font-weight: bold;}
.ul1 .icone2{flex-grow: 1;}
.ul1 .icone2 a{border: 1px solid #16b9a4;float:right;color: #16b9a4;padding:3px;border-radius: 3px;display: block;width: 80px;text-align: center;}

.ul1 .disableCodeBtn a{color: #e3e3e3; border-color: #e3e3e3;}
.ul2{margin-top: 15px;}
.ul2 .item .s1{height: 40px;flex:0 0 40px;position: relative;}
.ul2 .item .s1 img{width:100%;height: 100%;border-radius: 20px;}
.ul2 .item .s1 em{font-style: normal;color: #f00;position: absolute;top:-8px;right: -8px;}
.ul2 .item{display: flex;margin-bottom: 15px;}
.ul2 .item .txt{flex-grow: 1;padding: 0px 10px;overflow: hidden;margin-left: 5px;}
.ul2 .item .txt .nickname{font-size: 14px;}
.ul2 .item .txt .msg{color: #636363;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.ul2 .item .time{flex:0 0 60px;text-align: right;color:#bebebe; }
.ul2 .item .txt span{color: #bebebe;}
.ul2 .item .txt p .jieshao{display:inline-block;transform: scale(0.8);}
.ul2 .item .s1 .tubiao{inline-block:transform; scale(2);top:-9px;right: 5px;}
.ul2 .item .s1 .tubiao span{display:inline-block;transform: scale(0.35);position: absolute;color: #fff;margin-top: 1px;}
.guding{position: fixed;bottom: 0px;width: 100%;}
.guding ul{display: flex;border-top:1px solid #eee;padding: 10px 0px 20px;}
.guding ul li{flex-grow: 1;}
.guding ul li a{text-align: center;color: #636363;}
.guding ul li a:focus{color: black;}
.guding ul li a em{display: block;width: 100%;transform: scale(1.3);margin-bottom: 3px;}
.guding ul li a em i{font-style: normal;color: #f00;display: inline-block;position:absolute;top: -7px;}
.guding ul li a p{transform: scale(0.8);}
